<h1>HomePage</h1>

<% @stories.each do |story| %>
	<div class="story">
		<h2><%= link_to story.title, story %></h2>
		<p>
			<%= truncate(story.content, :length => 400) %><br>
			<i>by <%= story.author %></i>
		</p>
	</div>
<% end %>
