<p>
  <strong><%= comment.author %></strong><br/>
  <%= comment.body %><br/>
  <% if has_right?(:section => :comments, :id => comment.id) %>
    <%= link_to t(:destroy), [comment.story, comment], confirm: t(:are_you_sure), method: :delete %>
  <% end %>
</p>