# PostgreSQL

development:
  adapter: postgresql
  encoding: unicode
  database: cms_development
  pool: 5
  username: example
  password: example
  
production:
  adapter: postgresql
  encoding: unicode
  database: cms_production
  pool: 5
  username: example
  password: example
  
test:
  adapter: postgresql
  encoding: unicode
  database: cms_test
  pool: 5
  username: example
  password: example  

