/** { padding: 0; margin: 0; }*/
  
@mixin equal-height {
  /* CSS hack to get equal height of columns */
  padding-bottom: 3000px;
  margin-bottom: -3000px;
}

body {
  $back-color: #e8e8e8;
  $header-color: #4671D5;
  $nav-color: #FFB273;
  $main-color: #FFFFFF;
  $sidebar-color: #FFE773; 
  $footer-color: $nav-color;
  $text-color: #333;
  
  $fill: 1em;
  $text-minwidth: 25em;
  $text-maxwidth: 50em;
  $sidebar-width: 15em;
  
  color: $text-color;
  background: $back-color;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: small;
  line-height: 1.5;
  
  h1 {
    font-size: 175%;
  }
  
  h2 {
    font-size: 150%;
  }
  
  h3 {
    font-size: 125%;
  }
  
  p {
    
  }
  
  a {
    color: $text-color;
    /*&:visited {
      color: #666; 
    }*/
    &:hover {
      color: #fff;
      background-color: #000; 
    } 
  }
      
  code {
    font-family: monospace;
    font-size: smaller;
    white-space: pre;
  }
  
  pre {
    background-color: #eee;
    font-size: smaller;
    padding: $fill;
  }
  
  div {
    &.notice {
      font-weight: bold;
      text-align: center;
      width: 40%;
      border: $fill/2 solid #ccc;
      margin: 0 auto;
      margin-top: $fill;
      padding: $fill*2;
    }
    
    &.field, &.actions {
      margin-bottom: $fill; 
    }
  }
  
  .hide {
    display: none;
    position: absolute;
    top: -3000px;
    left: -3000px;
  }

  .field_with_errors {
    padding: $fill/5;
    background-color: red;
    display: table; 
  }

  #error_explanation {
    width: 450px;
    border: $fill/5 solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: $fill*2;
    background-color: #f0f0f0;
    
    h2 {
      text-align: left;
      font-weight: bold;
      padding: $fill/2 $fill/2 $fill/2 $fill*3;
      font-size: smaller;
      margin: -7px;
      margin-bottom: 0;
      background-color: #c00;
      color: #fff; 
    }
    
    ul li {
      font-size: smaller;
      list-style: square;   
    } 
  }
  
  #wrapper { 
    width: 100%;
    min-width: ($text-minwidth+$fill*1.5*2)+($sidebar-width+$fill*2);
    max-width: ($text-maxwidth+$fill*1.5*2)+($sidebar-width+$fill*2);
    margin: $fill auto;
    
    #header {
      color: #FFF;
      background: $header-color;
      padding: $fill*2;
      
      h1 {
        margin: 0;
        padding: 0;
      }
    }
    
    #navigation {
      float: left;
      color: $text-color;
      background: $nav-color;
      width: 100%;
    
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      
      ul li {
        display: block;
        float: left;
        margin: 0 $fill/2;
        padding: $fill/2;
      }
      
      ul li a {
        
      }
    }
    
    #contentwrapper {
      clear: left;
      overflow: hidden;
      background: $main-color;
    
      #main { 
        float: left;
        color: $text-color;
        background: $main-color;
        width: 100%;
        min-width: $text-minwidth;
        max-width: $text-maxwidth;
        margin-right: $sidebar-width+$fill*2;
        padding: 0 $fill*1.5;
        @include equal-height;
      }
      
      #sidebar {
        float: right;
        color: $text-color;
        background: $sidebar-color; 
        width: $sidebar-width;
        padding: $fill;
        margin-left: -($sidebar-width+$fill*2);
        @include equal-height;
          
        form {
          display: block;
          width: 12em;
          margin: 0 auto;
          position: relative;
          left: -0.5em;
          
          &.field {             
            label {
              font-weight: bold;
              text-transform: uppercase;
            }
          
            input {
              margin-top: $fill;
              width: 100%;
            }
          }
          
          &.actions {            
            input {
              margin-bottom: $fill;
              text-transform: uppercase;
            }            
          }
        }
      }
    }
    
    #footer { 
      clear: both;
      background: $footer-color;
      color: $text-color;
      text-align: center;
      padding: $fill;
    }
  }
}
