/*
      Created by CSS Portal Layout Generator
	  
	  http://www.cssportal.com
	  	  
*/

/** { padding: 0; margin: 0; }*/

body {
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size: 13px;
}

p {
 padding: 10px;
}

#wrapper { 
 margin: 0 auto;
 width: 960px;
}

#contentwrapper {
  float: left;
  width: 100%;
  overflow: hidden;
}

#content { 
 float: left;
 color: #333;
 background: #FFFFFF;
 /*height: 350px;*/
 width: 710px;
 display: inline;
 padding-bottom: 3000px;
 margin-bottom: -3000px;
}

#header {
 color: #333;
 width: 960px;
 float: left;
 height: 75px;
 background: #6B6659;
}

#footer { 
 width: 960px;
 height: 25px;
 clear: both;
 color: #333;
 background: #6B6659;
}

#navigation {
 float: left;
 width: 960px;
 height: 25px;
 color: #333;
 background: #8AA1B6;
}

#navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#navigation ul li {
  display: block;
  float: left;
  margin: 0 5px;
  padding: 0;
}

#rightcolumn { 
 color: #333;
 background: #EBE3CD;
 /*height: 350px;*/
 width: 250px;
 float: left;
 padding-bottom: 3000px;
 margin-bottom: -3000px;
}

.story {
  margin: 10px;
}

